### Last updated: June 12, 2024

### Remove the following directories & files from Git tracking ###
TODO.md

# General 
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini


# Thumbnail cache files
._*
Thumbs.db


# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Private Directories
.vscode
JavaScript/scope-and-context.js
Markdown/best-README-template.md
Markdown/my-README-template.md
AWS

# Exercises Subdirectories
**/Exercises/